.alert-success {
    background-color: green
}

.alert-warning {
    background-color: yellow;
}

.alert-danger {
    background-color: red;
}

.alert-info {
    background-color:turquoise;
}
nav li{display: inline;}


nav li a{color: blue}
input{border-radius: 0%;}
body{
    background-color: purple;
    color: red;

}